*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-decoration: none;
}

h1{
    color: red;
}

body{
    background-color: #F8F1F1;
}

html{
    scroll-behavior: smooth;
}

hr{
    border: none;
    border-bottom: 1.5px solid black;
}

.product-images img{
    border: 1px solid black;
    border-radius: 5px;
}

.logo{
    text-align: center;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar{
    background-color: #D0BFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2%;
}

.nav-menu{
    list-style: none;
    display: flex;
}

.angel-icon{
    width: 13px;
    margin-left: 3px;
    margin-top: 3px;
}

.nav-link{
    font-size: 0.9rem;
    font-weight: bold;
    padding: 7px 18px;
    border-radius: 5px;
    align-items: center;
    display: flex;
}

.nav-link:hover, .nav-btn:hover{
    background-color: #b39bf7;
}

.nav-btn{
    top: 20px;
    right: 25px;
    width: 25px;
    background-color: #D0BFFF;
    border: 1px solid black;
    padding: 6px 10px 1px;
    box-sizing: content-box;   
    border-radius: 5px;
    cursor: pointer;
}

.nav-menu-btns{
    display: none;
}

.active{
    display: none;
}

.container{
    width: 95%;
    max-width: 950px;
    margin: 10px auto;
}

.product-container{
    margin-top: 100px;
    display: flex;
    padding: 2%;
}

.product-images{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 10px;
}

.product-images img{
    max-width: 100%;
    height: auto;
}

.product-details{
    align-items: center;
    width: 50%;
    padding: 0 2%
}

.new-baner{
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0;
}

.product-info-list{
    list-style: none;
    margin-top: 20px;
    font-size: 0.8rem;
}

.product-info-list li::before {
    list-style: none;
    content: ">";
    color: #000;
    font-weight: bold;
    font-size: large; 
    margin-right: 5px;
}

.product-title{
    font-size: 1.8rem;
    margin-top: 10px;
    font-weight: bold;
}

.product-price span{
    font-weight: bold;
}

.buy-info{
    align-items: center;
}

.amount-input{
    padding: 3px;
    font-size: 0.7rem;
}

.info-item a{
    color: black;
}

.amount-input{
    width: 60px;
    border-radius: 3px;
    border: 1px solid black;
}

.amount-input:focus{
    outline: none;
}

.cart-btn {
border: none;
  background-color: #9887d3;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: -1px;
  margin: 0;
  outline: 0;
  padding: 6px 10px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: inline;
}

.cart-btn:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  transition-duration: .15s, .15s;
}

.cart-btn:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.cart-icon{
    width: 18px;    
}

.cart-btn:disabled:active {
  pointer-events: none;
}


.award-container{
    margin: 20px 0;
    padding: 5px 10px;
    border-left: 7px solid gray;
    border-bottom: 1px solid gray;
}

.award-container a{
    color: black;
}

.product-info-container h2{
    margin: 15px 0;
    font-size: 1rem;
    font-weight: bold;
}

.recomendad-list{
    list-style-position: inside;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px;
}

th, td {
    border: 2px solid #E57C23;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #F8F1F1;
}

.product-fearures{
    border: 2px solid #E57C23;
    padding: 2%;
    margin: 20px 0;
    position: relative;
    z-index: 1;
}

.features-label{
    background-color: #E57C23;
    color: #fff;
    display: inline;
    position: absolute;
    left: 0;
    padding: 10px 30px;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
}
.feature-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.feature-list{
    list-style-position: inside;
}

.product-fearures h3{
    font-weight: bold;
    margin-top: 20px;
}

.feature-img-box{
    padding: 3% 10%;
}

.feature-img{
    width: 100%;
    border: 1px solid black;
}

.featue-hr{
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid black;
}

.feature-table{
    border-collapse: collapse;
    border: none;
}

.related-product-title{
    background-color: #E57C23;
    border-radius: 5px;
    color: #fff;
    display: inline;
    padding: 3px 10px;
}

.related-product-img{
    display: flex;
    margin: 2rem 0;
    text-align: center;
}

.related-product-img img{
    width: 130px;
    border: 1px solid black;
    margin-right: 15px;
}

.related-product-img p{
    font-size: 0.7rem;
}

.feature-table td {
    border: none;
    border-top: 2px solid black;;
  }

.footer-text{
    text-align: center;
}

.back-top-btn{
    background-color: #7a6baf;
    color: #fff;
    position: sticky;
    bottom: 20px;
    left: 20px;
    border: none;
    padding: 7px 15px;
}

@media screen and (max-width: 840px) {
    .nav-menu-btns{
        display: block;
    }
    .nav-menu{
        position: absolute;
        background-color: #D0BFFF;
        top: 100%;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        height: 100vh;
        padding: 100px 7%;
        display: none;
        transition: .5s ease;
    }

    .nav-link{
        font-size: 1.5rem;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0;
        padding: 10px 5px;
    }
    .nav-link:last-child{
        border: none;
    }
    .navbar{
        align-items: center;
        background-color: #D0BFFF;
        padding: 10px;
    }

    .product-image:nth-child(3), .product-image:nth-child(6){
        display: none;
    }
}

@media screen and (max-width: 590px){
    .product-image:nth-child(n+2):nth-child(-n+6) {
        display: none;
    }

    .product-image{
        margin-top: 10px;
    }
      
}